

:root {
  --si-user-selection-color:lightgray !important;
}
.navbar{
  background-color: #ffff;
}

.theme-button {
  background-color: #fc6070;
  color: #fff;
  border-color: #fc6070;
  letter-spacing: 0.6px;
}

.theme-button:hover {
  background-color: #912a34;
  border-color: #912a34;
}

.item-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}

.item-box-wrapper .item-box {
  flex: 1;
}

.heading-text {
  color: #673ab7;
}

.para-text {
  color: #e72892;
}
.swiper-data{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.ready-started{
  background-image: url('../img/ready-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.ready-started.career-started{
  background-image: url('../img/career-started.jpeg');
  background-attachment: fixed;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.prouct-info-part .product-icon{
  width: 80px;
}
.mega-dropdown-column .product-link{
  text-decoration: none;
}
.mega-dropdown-column .product-link img{
  width: 130px;
}
.mega-dropdown-column .product-link  h6 sup{
  font-size: 22px;
  margin-top: 10px;
}
.mega-dropdown-column .product-link p{
  color: #000;
  font-size: 14px;
}
.content-filed-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-content-align{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.table-item-box:hover i, .table-item-box:hover h3{
  color: #673ab7;
}
.table-item-box:hover p{
  color: #e72892;
}

.swiper-item-data .content-part{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* market place */
.markets-banner{
  background-image: url('../img/Markets/0_top.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 20px;
}
.services-banner{
  background-image: url('../img/services/1_small.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 20px;
}
.services-banner-digital{
  background-image: url('../img/digital-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 20px;
}
.about-banner{
  background-image: url('../img/about-us-banner.jpeg');
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 20px;
}
.blogs-banner{
  background-image: url('../img/blog/resource.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-top: 20px;
}
.blogs-banner h1{
  font-size: 60px;
}
.about-us-tag{
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
}
.leadership-text-content .card, .adviser-text-content .card{
  box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11,15,25,.06), 0 0.125rem 0.4rem -0.0625rem rgba(11,15,25,.03);
}
.dark-theme-text a, .dark-theme-text a:hover{
  color: #fff;
}
.about-first-section .nav-item a{
  color: #000;
}
.about-first-section .nav-item:first-child a{
  background-color: #c21e254a;
}
.about-first-section .nav-item:first-child a.active{
  background-color: #c21e25;
}
.about-first-section .nav-item:nth-child(2) a{
  background-color: #855ba54a;
}
.about-first-section .nav-item:nth-child(2) a.active{
  background-color: #855ba5;
}
.about-first-section .nav-item:last-child a{
  background-color: #3f4ea14a;
}
.about-first-section .nav-item:last-child a.active{
  background-color: #3f4ea1;
}
.dark-theme-text .breadcrumb-item.active{
  color: #fff;
}
.dark-theme-text {
  color: #fff;
}
.dark-theme-text h4{
  color: #fff;
}
.dark-theme-text p{
  max-width: 75%;
}
.market-cards{
  position: relative;
}
.market-cards::before{
  position: absolute;
  content: "";
  background-color: #2cfdfd;
  background-color: #673ab7;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}
.market-cards p{
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  text-shadow: 2px 2px #673ab7;
}
.service-top-icon{
  width: 132px;
    height: 126px;
    margin-bottom: 10px;
}
.first-banner{
  background-image: url('../../assets/img/home-banner.jpeg');
  background-size: cover;
  height: 600px;
  text-align: right;
}
.first-banner h2, .first-banner p{
  color: #fff;
}
.first-banner .item-box-wrapper .item-box{
  flex: initial;
}
@media screen and (max-width: 1024px) {
  .first-banner{
    height: 700px;
  }
  .first-banner .item-box-wrapper {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .markets-banner, .services-banner{
    height: 400px;
  }
}
@media (max-width: 620px) {
  .item-box-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .card-combine-row{
    flex-wrap: wrap !important;
    min-width: 100% !important;
    gap: 20px;
    border: 0 !important;
  }
  .pricing-table-card{
    border: 1px solid #e2e5f1 !important;
    border-radius: 8px !important;
    margin-bottom: 20px !important;
  }
  .swiper-item-img{
    margin: auto;
  }
  .markets-banner, .services-banner{
    height: 480px;
  }
  /* .first-banner .item-box-wrapper{
    align-items: flex-end;
  } */
  
}

.navbar-nav{
  align-items: center;
}
.engineering-logo{
  margin-left: 1rem;
  width: 30%;
}
.engineering-logo img{
  width: 70%;
}
.services-banner-digital.dark-theme-text p{
  max-width: 60%;
}
.footer-engineering-logo{
  margin-bottom: 1rem;
  width: 65%;
  margin-top: -20px;
}

#screen-1 img{
  max-width: 80%;
}
.swiper-item-data .content-part{
  text-align: center;
  align-items: center;
}
.price-description{
  min-height: 110px;
}
.accordion-button:not(.collapsed)::after{
  box-shadow: none;
}