.navbar{
  background-color: #ffff;
}

.theme-button {
  background-color: #fc6070;
  color: #fff;
  border-color: #fc6070;
  letter-spacing: 0.6px;
}

.theme-button:hover {
  background-color: #912a34;
  border-color: #912a34;
}

.item-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
}

.item-box-wrapper .item-box {
  flex: 1;
}

.heading-text {
  color: #673ab7;
}

.para-text {
  color: #e72892;
}
.swiper-data{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.ready-started{
  background-image: url('../img/ready-back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.prouct-info-part .product-icon{
  width: 80px;
}
.mega-dropdown-column .product-link{
  text-decoration: none;
}
.mega-dropdown-column .product-link img{
  width: 130px;
}
.mega-dropdown-column .product-link  h6 sup{
  font-size: 22px;
  margin-top: 10px;
}
.mega-dropdown-column .product-link p{
  color: #000;
  font-size: 14px;
}
.content-filed-data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-content-align{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.table-item-box:hover i, .table-item-box:hover h3{
  color: #673ab7;
}
.table-item-box:hover p{
  color: #e72892;
}

.swiper-item-data .content-part{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 620px) {
  .item-box-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .card-combine-row{
    flex-wrap: wrap !important;
    min-width: 100% !important;
    gap: 20px;
    border: 0 !important;
  }
  .pricing-table-card{
    border: 1px solid #e2e5f1 !important;
    border-radius: 8px !important;
    margin-bottom: 20px !important;
  }
  .swiper-item-img{
    margin: auto;
  }
}
